@import url("experience.css");
@import url("languages.css");
@import url("photo.css");
@import url("me.css");
@import url("tools.css");
@import url("adaptive.css");
@import url("education.css");
@import url("interests.css");
@import url("contacts.css");

:root {
  --main-color: #f0f0f0;
  --green-color: #28d979;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: disc;
}

.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 1400px;
}

.back-section {
  background-color: var(--main-color);
  border-radius: 16px;
  padding: 20px;
}
.section-title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 25px;
}

.welcome-info {
  display: flex;
  gap: 30px;
  width: 100%;
}

.experience-and-tools {
  display: flex;
  gap: 30px;
  width: 100%;
}

.edu-and-interests {
  display: flex;
  gap: 30px;
  width: 100%;
}

.interests-and-contacts {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  gap: 30px;
}
